.example-header-image {
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      font-size: 20px;
      color: #C8A2C8;
      text-align: center;
      background:#F5F5F5;
    background-size: cover;
}

.circle{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 20px;
  color: #C8A2C8;
  text-align: center;
  background:#F5F5F5;
}